[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/jtomaszewski/oh-my-zsh
[submodule "oh-my-fish"]
	path = oh-my-fish
	url = git@github.com:/jtomaszewski/oh-my-fish.git
[submodule "vendor/tmuxinator"]
	path = vendor/tmuxinator
	url = https://github.com/aziz/tmuxinator.git
[submodule "bash_it"]
	path = bash_it
	url = https://github.com/revans/bash-it.git
